
#content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, minmax(150px, auto));
  grid-gap: 20px;
  grid-auto-rows: 25px;
}
#content div{
  background: #3bbced;
  padding: 30px;
}

#content div:nth-child(even){
  background: #777;
}

.header{
  grid-column: 1 / 7;
  background-color:#0099ff;
  text-align:left;
  padding:10px;
}

.topnav{
  grid-column: 2 /7;
  grid-row: 
  overflow: hidden;
  background-color:#9966ff;
}

.sidebar{
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: navy;
  padding: 30px;
}

.section1{
  grid-column: 2;
  grid-row: 3;
  background-color: pink;
  padding: 10px;
}

.section2{
  grid-column: 3;
  grid-row: 3;
  background-color: aqua;
  padding: 30px;
}

.section3{
  grid-column: 4;
  grid-row: 3;
  background-color:
  padding:
}

.section4{
  grid-column: 5;
  grid-row: 3;
  background-color:
  padding:
}

.section5{
  grid-column: 6;
  grid-row: 3;
  background-color:
  padding:
}

.section6{
  grid-column: 2;
  grid-row: 4;
  background-color:
  padding:
}

.section7{
  grid-column: 3;
  grid-row: 4;
  background-color:
  padding:
}

.section8{
  grid-column: 4;
  grid-row: 4;
  background-color:
  padding:
}

.section9{
  grid-column: 5;
  grid-row: 4;
  background-color:
  padding:
}

.section10{
  grid-column: 6;
  grid-row: 4;
  background-color:
  padding:
}

/* footer content will include the flags of all the states and countries we have visited. Flags will be animated to ripple in the wind. */
.footer{
  grid-column: 1 / 7;
  grid-row: 5;
  background-color:#ffff00;
  padding:10px;
}

